@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4b006b;
    padding: 0.6rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

body {
    min-height: 100vh;
    background-color: #4b006b;
    background-image: linear-gradient(168deg, #4b006b 0%, #C850C0 62%);
}

button {
    padding: 0.5rem;
    background: #4b006b;
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #70029f;
}


.NavItens {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 0.9rem;
    
}

.navItensItem:hover {
    border-bottom: 1px solid #cdcdcd;
    font-weight: 600;

}

.logoNav {
    font-size: 1.8rem;
}


.containerItens img{
    max-width:15rem;
    width: auto;
    height: auto;
    box-shadow: 26px 26px 68px -16px rgba(0,0,0,0.66);
    -webkit-box-shadow: 26px 26px 68px -16px rgba(0,0,0,0.66);
    -moz-box-shadow: 26px 26px 68px -16px rgba(0,0,0,0.66);
}

.container {
    margin: 3rem;
}

.containerItens {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    gap: 5rem;
}




.containerItensText {
    padding: 1rem;
    
}

.containerItensText p{
    padding: 0.2rem;
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;

}

.textInicial {
    width: 55rem;
    line-height: 1.5rem;

}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;

}



.container02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    margin-top: 7rem;
    color: #fff;
}

.titleContainer02 {
    font-size: 1.4rem;
}

.subTitleContainer02 {
    font-size: 1.2rem;
}

.btnContainer02 {
    margin-top: 3rem;
    font-size: 1.3rem;
    width: 17rem;
    height: 4rem ;
}
