* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4b006b;

    padding: 0.6rem;
    color: #fff;
}

button {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    background: #4b006b;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
}

button:hover {
    background: #6f029e;
}


.NavItens {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.1rem;
    
}

.logoNav {
    font-size: 2rem;
}

.container {
    margin: 3rem;
}

.containerItens {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}

.containerItensAbout {
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: column;
}

.containerItens img{
    max-width:15rem;
    width: auto;
    height: auto;
}

.containerItensAbout img{
    max-width:20rem;
    width: auto;
    height: auto;
}

.containerItensText {
    padding: 1rem;
    
}

.containerItensText p{
    padding: 0.2rem;
    
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4b006b;

}

.container02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    margin-top: 5rem;
}

.titleContainer02 {
    font-size: 1.5rem;
}

.subTitleContainer02 {
    font-size: 1.3rem;
}

.btnContainer02 {
    margin-top: 3.5rem;
    font-size: 1.4rem;
    width: 20rem;
    height: 4rem ;
}

footer {
    background: #4b006b;
    /* padding: 0.8rem;
    margin-top: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

.footerAbout {
    background: #4b006b;
    /* padding: 0.8rem;
    margin-top: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

.footerText {
    color: #fff;
    text-align: center;
}



.titleConversor {
    text-align: center;
    margin: 2rem;
    margin-bottom: 7rem;
}


.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixa {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid #4b006b;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}


.curracy {
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid #fff;
    background: #4b006b;
    color: #fff;
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
} 

label {
    font-size: 1.2rem;
    font-weight: 600;
}

.btnConverter {
    width: 13rem;
    height: 3rem;
}

option::placeholder {
    background-color: #4b006b;
}

select {
    text-align: center;
    border: none;
    outline: none;
}

.result{
    border: 2px solid #4b006b;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}